.dash {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.outlet {
  display: flex;
  flex: 1;
  height: 500px;
  width: 1000px;
  margin-top: 100px;
  max-width: 1000px;
}
