/* .dash {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
} */

.dash {
  height: 100vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "sidebar navbar"
    "sidebar content"
    "sidebar content";
}

.outlet {
  grid-area: content;
  height: 100%;
  width: 100%;
}

.nav {
  border-bottom: solid 1px black;
}
