@media all and (max-width: 500px) {
    body {
        color: blue;
    }
}

.box-body {
    background-color: burlywood;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.small-box {
    position: relative;
    width: 100px;
    height: 100px;
    

}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}